body.dark-theme {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

h1.dark-theme {
    margin-bottom: 20px;
}

label.dark-theme {
    display: block;
    margin-bottom: 8px;
    color: #ddd;
}

input.dark-theme {
    padding: 10px;
    margin: 8px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

button.dark-theme {
    height: 40px;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover.dark-theme {
    background-color: #0056b3;
}


hr {
    border: 1px solid #666;
    margin-top: 30px;
    margin-bottom: 30px;
}

#videoContainer {
    margin-top: 20px;
}

.main {
    margin-left: 300px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#videoContainer .closeButton {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #fff;
    padding: 10px 20px;
}
